# Nextcloud (control node)
idoscloud.duckdns.org {
    reverse_proxy localhost:8080
}

# Dashy (control node + password)
idosdash.duckdns.org {
    reverse_proxy localhost:8085

    basic_auth {
        ido THERE IS A HASHKEY HERE BUT I DONT WANT U TO HAVE MY PASSWORD SORRY
    }
}

# Portainer (control node)
idosport.duckdns.org {
    reverse_proxy localhost:9000
}

# Guacamole (control node)
idosremote.duckdns.org {
    reverse_proxy localhost:8083
}

# Jellyfin (media node)
idosmedia.duckdns.org {
    reverse_proxy 10.0.0.204:8096
}
